name: Retweet epitwitter
'on':
  push:
    branches:
      - main
  schedule:
    - cron:  '0 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v1

      - uses: r-lib/actions/setup-r@v1
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-renv@v1

      - name: Run script
        env:
          EPIBOT_ACCESS_SECRET: ${{ secrets.EPIBOT_ACCESS_SECRET }}
          EPIBOT_ACCESS_TOKEN: ${{ secrets.EPIBOT_ACCESS_TOKEN }}
          EPIBOT_CONSUMER_KEY: ${{ secrets.EPIBOT_CONSUMER_KEY }}
          EPIBOT_CONSUMER_SECRET: ${{ secrets.EPIBOT_CONSUMER_SECRET }}
          MONGODB_EPIBOT_USER: ${{ secrets.MONGODB_EPIBOT_USER }}
          MONGODB_EPIBOT_PW: ${{ secrets.MONGODB_EPIBOT_PW }}
          MONGODB_EPIBOT_URL: ${{ secrets.MONGODB_EPIBOT_URL }}
        run: |-
          source('R/epibot.R')
        shell: Rscript {0}
